# not sure when this was added
/.metadata/

# Databases
SimpleDBClients/studentdb/
SimpleDBEngine/studentdb/

# MacOS metadata
**/.DS_Store

# Eclipse Settings

## Preferences
**/.settings

## classpath
**/.classpath
